header {
  width: 100% - 12%;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  margin-left: 1.5rem;
  .logo {
    margin-top: 0.5rem;
    font-size: 32px;
  }
  .themes {
    display: flex;
    font-size: 1rem;
    .theme {
      margin: 1.2rem 0.8rem 0 0;
    }
    .color-theme {
      display: flex;
      flex-direction: column;
      .numbers {
        display: flex;
        p {
          margin-right: 15px;
          cursor: pointer;
        }
      }
      .cyrcle {
        display: flex;
        background-color: hsl(223, 31%, 20%);
        width: 60px;
        height: 20px;
        border-radius: 300px;
        .theme-1 {
          background-color: hsl(6, 63%, 50%);
          width: calc(100% / 4.2);
          height: calc(100% / 1.5);
          margin: 3px;
          border-radius: 50%;
          cursor: pointer;
        }
      }
    }
  }
}