main {
  background-color: hsl(224, 36%, 15%);
  width: 100% - 12%;
  margin-left: 6%;
  margin-top: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  .nums-and-operators {
    width: 100% - 12%;
    height: 100%;
    margin: 6%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem 1.5rem;
    .keys {
      width: 50px;
      height: 50px;
      font-size: 32px;
      padding: 5px;
      background-color: hsl(30, 25%, 89%);
      box-shadow: 0 2px 2px hsl(28, 16%, 65%);
      border: 1px hsl(28, 16%, 65%);
      color: hsl(221, 14%, 31%);
      border-radius: 5px;
      cursor: pointer;
      text-align: center;
      &:hover {
        background-color: hsl(30, 25%, 79%);
      }
      &:active {
        transform: translateY(4px);
      }
    }
    .delete-key, .reset-key {
      background-color: hsl(225, 21%, 49%);
      border: 1px hsl(224, 28%, 35%);
      box-shadow: 0 2px 2px hsl(224, 28%, 35%);
      color: hsl(0, 0, 100%);
      font-size: 16px;
      padding-top: 15px;
      &:hover {
        background-color: hsl(225, 21%, 39%);
      }
    }
    .equal-key {
      background-color: hsl(6, 63%, 50%);
      border: 1px hsl(6, 70%, 34%);
      box-shadow: 0 2px 2px hsl(6, 70%, 34%);
      color: hsl(0, 0, 100%);
      font-size: 16px;
      padding-top: 15px;
      &:hover {
        background-color: hsl(6, 63%, 40%);
      }
    }
    .reset-key, .equal-key {
      grid-column: span 2;
      width: 130px;
    }
  }
}