header {
  width: 450px;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  margin-left: 1.5rem;
}
@media screen and (max-width: 600px) {
  header {
    width: 320px;
  }
}
header .logo {
  margin-top: 0.5rem;
  font-size: 32px;
}
header .themes {
  display: flex;
  font-size: 1rem;
}
header .themes .theme {
  margin: 1.2rem 0.8rem 0 0;
}
header .themes .color-theme {
  display: flex;
  flex-direction: column;
}
header .themes .color-theme .numbers {
  display: flex;
}
header .themes .color-theme .numbers p {
  margin-right: 15px;
  cursor: pointer;
}
header .themes .color-theme .cyrcle {
  display: flex;
  background-color: hsl(223deg, 31%, 20%);
  width: 60px;
  height: 20px;
  border-radius: 300px;
}
header .themes .color-theme .cyrcle .theme-1 {
  background-color: hsl(6deg, 63%, 50%);
  width: 23.8095238095%;
  height: 66.6666666667%;
  margin: 3px;
  border-radius: 50%;
  cursor: pointer;
}

.screen {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 450px;
  height: 100px;
  background-color: hsl(224deg, 36%, 15%);
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 6%;
}
@media screen and (max-width: 600px) {
  .screen {
    width: 320px;
  }
}
.screen .content {
  margin: 20px;
}

main {
  background-color: hsl(224deg, 36%, 15%);
  width: 450px;
  margin-left: 6%;
  margin-top: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  main {
    width: 320px;
  }
}
main .nums-and-operators {
  width: 450px;
  height: 100%;
  margin: 6%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem 1.5rem;
}
@media screen and (max-width: 600px) {
  main .nums-and-operators {
    width: 320px;
  }
}
main .nums-and-operators .keys {
  width: 50px;
  height: 50px;
  font-size: 32px;
  padding: 5px;
  background-color: hsl(30deg, 25%, 89%);
  box-shadow: 0 2px 2px hsl(28deg, 16%, 65%);
  border: 1px hsl(28deg, 16%, 65%);
  color: hsl(221deg, 14%, 31%);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
main .nums-and-operators .keys:hover {
  background-color: hsl(30deg, 25%, 79%);
}
main .nums-and-operators .keys:active {
  transform: translateY(4px);
}
@media screen and (max-width: 600px) {
  main .nums-and-operators .keys {
    width: 50px !important;
  }
}
main .nums-and-operators .delete-key, main .nums-and-operators .reset-key {
  background-color: hsl(225deg, 21%, 49%);
  border: 1px hsl(224deg, 28%, 35%);
  box-shadow: 0 2px 2px hsl(224deg, 28%, 35%);
  color: hsl(0deg, 0%, 100%);
  font-size: 16px;
  padding-top: 15px;
}
main .nums-and-operators .delete-key:hover, main .nums-and-operators .reset-key:hover {
  background-color: hsl(225deg, 21%, 39%);
}
main .nums-and-operators .equal-key {
  background-color: hsl(6deg, 63%, 50%);
  border: 1px hsl(6deg, 70%, 34%);
  box-shadow: 0 2px 2px hsl(6deg, 70%, 34%);
  color: hsl(0deg, 0%, 100%);
  font-size: 16px;
  padding-top: 15px;
}
main .nums-and-operators .equal-key:hover {
  background-color: hsl(6deg, 63%, 40%);
}
main .nums-and-operators .reset-key, main .nums-and-operators .equal-key {
  grid-column: span 2;
  width: 130px;
}
@media screen and (max-width: 600px) {
  main .nums-and-operators .reset-key, main .nums-and-operators .equal-key {
    width: 130px !important;
  }
}

@media (min-width: 376px) {
  .toggle-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .toggle-1 .container {
    width: 33.3333333333%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .toggle-1 .container header {
    margin-left: 35px;
  }
  .toggle-1 .container header .logo {
    font-size: 16px;
    margin-top: 1rem;
  }
  .toggle-1 .container header .themes {
    font-size: 0.5rem;
  }
  .toggle-1 .container header .themes .color-theme .numbers p {
    margin-right: 22px;
  }
  .toggle-1 .container .screen {
    margin: 0;
  }
  .toggle-1 .container main {
    margin-left: 0;
  }
  .toggle-1 .container .nums-and-operators {
    gap: 1rem 1rem;
  }
  .toggle-1 .container .nums-and-operators .keys {
    width: 80px;
  }
  .toggle-1 .container .nums-and-operators .reset-key, .toggle-1 .container .nums-and-operators .equal-key {
    width: 182px;
  }
}

.toggle-2 {
  background-color: hsl(0deg, 0%, 90%) !important;
}
.toggle-2 header {
  color: hsl(60deg, 10%, 19%);
}
.toggle-2 header .themes .color-theme .cyrcle {
  background-color: hsl(0deg, 5%, 81%);
}
.toggle-2 header .themes .color-theme .cyrcle .theme-1 {
  visibility: hidden;
}
.toggle-2 header .themes .color-theme .cyrcle .theme-2 {
  background-color: hsl(25deg, 98%, 40%);
  width: 23.8095238095%;
  height: 66.6666666667%;
  margin: 3px;
  border-radius: 50%;
  cursor: pointer;
}
.toggle-2 .screen {
  background-color: hsl(0deg, 0%, 93%);
  color: hsl(60deg, 10%, 19%);
}
.toggle-2 main {
  background-color: hsl(0deg, 5%, 81%);
}
.toggle-2 main .nums-and-operators .keys {
  background-color: hsl(45deg, 7%, 89%);
  box-shadow: 0 2px 2px hsl(35deg, 11%, 61%);
  color: hsl(60deg, 10%, 19%);
}
.toggle-2 main .nums-and-operators .keys:hover {
  background-color: hsl(45deg, 7%, 79%);
}
.toggle-2 main .nums-and-operators .delete-key, .toggle-2 main .nums-and-operators .reset-key {
  background-color: hsl(185deg, 42%, 37%);
  border: 1px hsl(185deg, 58%, 25%);
  box-shadow: 0 2px 2px hsl(185deg, 58%, 25%);
  color: hsl(0deg, 0%, 100%);
}
.toggle-2 main .nums-and-operators .delete-key:hover, .toggle-2 main .nums-and-operators .reset-key:hover {
  background-color: hsl(185deg, 42%, 27%);
}
.toggle-2 main .nums-and-operators .equal-key {
  background-color: hsl(25deg, 98%, 40%);
  border: 1px hsl(25deg, 99%, 27%);
  box-shadow: 0 2px 2px hsl(25deg, 99%, 27%);
  color: hsl(0deg, 0%, 100%);
}
.toggle-2 main .nums-and-operators .equal-key:hover {
  background-color: hsl(25deg, 98%, 30%);
}
.toggle-2 .attribution {
  color: hsl(60deg, 10%, 19%);
}

.toggle-3 {
  background-color: hsl(268deg, 75%, 9%) !important;
}
.toggle-3 header {
  color: hsl(52deg, 100%, 62%);
}
.toggle-3 header .themes .color-theme .cyrcle {
  background-color: hsl(268deg, 71%, 12%);
  position: relative;
}
.toggle-3 header .themes .color-theme .cyrcle .theme-2 {
  visibility: hidden;
}
.toggle-3 header .themes .color-theme .cyrcle .theme-3 {
  background-color: hsl(176deg, 100%, 44%);
  width: 23.8095238095%;
  height: 66.6666666667%;
  margin: 3px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 1px;
}
.toggle-3 header .themes .color-theme .cyrcle .theme-1 {
  visibility: hidden;
}
.toggle-3 .screen {
  background-color: hsl(268deg, 71%, 12%);
  color: hsl(52deg, 100%, 62%);
}
.toggle-3 main {
  background-color: hsl(268deg, 71%, 12%);
}
.toggle-3 main .nums-and-operators .keys {
  background-color: hsl(268deg, 47%, 21%);
  box-shadow: 0 2px 2px hsl(290deg, 70%, 36%);
  color: hsl(52deg, 100%, 62%);
}
.toggle-3 main .nums-and-operators .keys:hover {
  background-color: hsl(268deg, 47%, 11%);
}
.toggle-3 main .nums-and-operators .delete-key, .toggle-3 main .nums-and-operators .reset-key {
  background-color: hsl(281deg, 89%, 26%);
  border: 1px hsl(285deg, 91%, 52%);
  box-shadow: 0 2px 2px hsl(285deg, 91%, 52%);
  color: hsl(0deg, 0%, 100%);
}
.toggle-3 main .nums-and-operators .delete-key:hover, .toggle-3 main .nums-and-operators .reset-key:hover {
  background-color: hsl(281deg, 89%, 16%);
}
.toggle-3 main .nums-and-operators .equal-key {
  background-color: hsl(176deg, 100%, 44%);
  border: 1px hsl(177deg, 92%, 70%);
  box-shadow: 0 2px 2px hsl(177deg, 92%, 70%);
  color: hsl(198deg, 20%, 13%);
}
.toggle-3 main .nums-and-operators .equal-key:hover {
  background-color: hsl(176deg, 100%, 34%);
}
.toggle-3 .attribution {
  color: hsl(52deg, 100%, 62%);
}

.hidden header .themes .color-theme .numbers .theme-1 {
  -webkit-animation: fadeout 2s;
          animation: fadeout 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.hidden header .themes .color-theme .cyrcle .theme-1 {
  -webkit-animation: fadeout 2s;
          animation: fadeout 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeout {
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fadeout {
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.toggle-1 {
  font-family: "Spartan", sans-serif;
  background-color: hsl(222deg, 26%, 31%);
  color: hsl(0deg, 0%, 100%);
  text-shadow: 0.5px 0 1px hsl(28deg, 16%, 65%);
}/*# sourceMappingURL=style.css.map */